@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-3">
        <section class="card">
            @await Html.PartialAsync("_ManageNav")
        </section>
    </div>
    <div class="col-md-9">
        <section class="card">
            <div class="card-body">
                @RenderBody()
            </div>
        </section>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}

