@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<fieldset>
    <legend>@ViewData["Title"].</legend>

    <div>
        <hr />
        <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="form-label-group">
                    <input asp-for="OldPassword" class="form-control" placeholder="Old password">
                    <label asp-for="OldPassword"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <input asp-for="NewPassword" class="form-control" placeholder="New password">
                    <label asp-for="NewPassword"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password">
                    <label asp-for="ConfirmPassword"></label>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Change password</button>
            </div>
        </form>
    </div>
</fieldset>
