@model IndexViewModel
@{
    ViewData["Title"] = "Change your account settings";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<fieldset>
    <legend>@ViewData["Title"].</legend>
    @Html.Partial("_StatusMessage", Model.StatusMessage)
    <div>
        <hr />
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="form-label-group">
                    <input asp-for="Balance" class="form-control" disabled>
                    <label asp-for="Balance"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <input asp-for="Username" class="form-control" disabled>
                    <label asp-for="Username"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <input asp-for="Name" class="form-control" placeholder="Full name">
                    <label asp-for="Name"></label>
                </div>
            </div>
            <div class="form-group">
                @if (Model.IsEmailConfirmed)
                {
                    <div class="form-group">
                        <div class="form-label-group">
                            <input asp-for="Email" class="form-control" placeholder="Email address">
                            <label asp-for="Email"></label>
                        </div>
                    </div>
                }
                else
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-default" asp-action="SendVerificationEmail">Send verification email</button>
                        </div>
                    </div>
                }
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number">
                    <label asp-for="PhoneNumber"></label>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>

    </div>
</fieldset>
