@model Equinox.Application.ViewModels.BootstrapModel

<div id="@Model.ID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="@Model.AreaLabeledId" aria-hidden="true">
    <div class="modal-dialog @Model.ModalSizeClass">
        <div class="modal-content">
        </div>
    </div>
</div>


