@model Equinox.Infra.CrossCutting.Identity.Models.ErrorViewModel
    <!-- .card -->
<section class="card">
    <!-- .card-body -->
    <div class="card-body">
        <fieldset>
            <legend>@ViewData["Title"].</legend>
            <div class="jumbotron">
                <h2>Ooooops, something went really bad! :(</h2>
                <p class="lead text-left">
                    @if (!string.IsNullOrEmpty(Model.Error))
                    {
                        <strong>@Model.Error</strong>
                    }

                    @if (!string.IsNullOrEmpty(Model.ErrorDescription))
                    {
                        <small>@Model.ErrorDescription</small>
                    }
                </p>
            </div>        </fieldset>
    </div>
    <!-- /.card-body -->
</section>
