<!DOCTYPE html>
<html>
<head lang="en">
</head>
<body ng-app="myApp" ng-controller="Ctrl">
    <div ng-controller="Ctrl">
        <input ng-model="name">
        <h1>{{name}}</h1>
    </div>
    @RenderBody()
    <script src="~/ScriptHandler/app/angular-1.6.3/angular.min.js"></script>

    <script>
        var Ctrl = function ($scope) {
            $scope.age = 24;
        };
        angular.module('myApp', [])
            .controller('Ctrl', ['$scope', Ctrl]);

    </script>
    @RenderSection("scripts", required: false)

</body>
</html>