
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="configController">
    <form>
        <div class="row" ng-show="show">
            <h3>Currency</h3>
            <div class="col-lg-3">
                <label>Currency:</label>
                <input type="text" ng-model="config.currency" class="form-control" />
            </div>
            <div class="col-lg-3">
                <label>ReferalBonus:</label>
                <input type="number" ng-model="config.referalBonus" class="form-control" />
            </div>
        </div>
        <div class="row" style="margin-top: 15px;" ng-show="show">
            <div class="col-lg-12">
                <button class="btn btn-success" ng-click="insert()">Insert</button>
                <button class="btn btn-success" ng-click="update()">Update</button>
                <button class="btn" ng-click="config = {}">Clear</button>
                <button class="btn" ng-click="show = false">Close</button>
            </div>
        </div>
    </form>
    <hr />
    <div class="row well">
        <div class="col-lg-12">
            <h3>Cities <a ng-click="show = true">(New)</a></h3>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Currency</th>
                    <th>ReferalBonus</th>
                    <th></th>
                </tr>
                <tr ng-repeat="c in configs">
                    <td>{{c.id}}</td>
                    <td>{{c.currency}}</td>
                    <td>{{c.referalBonus}}</td>
                    <td>
                        <button class="btn btn-info" ng-click="get(c.id)">Edit</button>
                        <button class="btn btn-danger" ng-click="remove(c.id)">Remove</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
@section scripts{ 

}