@{
    ViewData["Title"] = "Home Page";
}
<!-- .card -->
<section class="card">
    <!-- .card-body -->
    <div class="card-body">
        <fieldset>
            <legend>@ViewData["Title"].</legend>
          
        </fieldset>
    </div>
    <!-- /.card-body -->
</section>